* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background: -webkit-linear-gradient(
    315deg,
    rgba(36, 46, 77, 0.9),
    rgba(137, 126, 121, 0.9)
  );
  background: linear-gradient(
    135deg,
    rgba(36, 46, 77, 0.9),
    rgba(137, 126, 121, 0.9)
  );
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1.3em;
} */

.flexRow {
  margin-bottom: 1em;
}

.lfInput {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em 2em;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: Open Sans, Arial, sans-serif;
  text-shadow: 1px 1px 1px #232323;
  border-radius: 25px;
  background: #bc3220;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #bc3220),
    color-stop(100%, #fa5846)
  );
  background: -webkit-linear-gradient(top, #bc3220 0%, #fa5846 100%);
  background: linear-gradient(to bottom, #bc3220 0%, #fa5846 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc3220', endColorstr='#fa5846', GradientType=0 );
  outline: none;
}

.lf--input:focus {
  outline: none;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.lfSubmit {
  display: block;
  padding: 1em;
  width: 100%;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  background: #ffbf00;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #ffbf00),
    color-stop(100%, #fa9f17)
  );
  background: -webkit-linear-gradient(top, #ffbf00 0%, #fa9f17 100%);
  background: linear-gradient(to bottom, #ffbf00 0%, #fa9f17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#fa9f17', GradientType=0 );
  border: 0;
  border-radius: 30px;
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
  font-size: 0.85em;
  font-weight: 500;
  text-shadow: -1px -1px #b86200, 0 1px 0 #ecb76b;
}
.lfSubmit:focus {
  outline: none;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
::placeholder {
  color: #ffffff;
}
