.siteNav {
  display: flex;
}
.siteNavList {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.item {
  margin-right: 50px;
}
.link {
  position: relative;

  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  text-decoration: none;
}
