.contactsList {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 25%;
}
.contactsInput {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(24, 202, 143);
}
.contactsHead {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  color: indianred;
}
.filterForm {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  width: 50%;
}
.filterInput {
  background-color: rgba(255, 255, 255, 0.6);
}
